<div class="toc_doc_center_home">
<a href="../../documentation-center.html">Documentation</a>
</div>
<ul>
<li id="supportpkg/usbwebcams.index.html" class="toc_collapsed"><div class="node_element"><div class="wrapper img_wrapper"></div><div class="wrapper text_wrapper"><a href="index.html">MATLAB Support Package for USB Webcams</a></div></div><ul><li id="supportpkg/usbwebcams.examples.index.html"><div class="node_element"><div class="wrapper img_wrapper"></div><div class="wrapper text_wrapper"><a href="examples/index.html">Examples</a></div></div></li></ul><ul><li id="supportpkg/usbwebcams.release-notes.html"><div class="node_element"><div class="wrapper img_wrapper"></div><div class="wrapper text_wrapper"><a href="release-notes.html">Release Notes</a></div></div></li></ul><ul><li id="supportpkg/usbwebcams.functionlist.html"><div class="node_element"><div class="wrapper img_wrapper"></div><div class="wrapper text_wrapper"><a href="functionlist.html">Functions</a></div></div></li></ul><ul>
<li id="supportpkg.usbwebcams.device-connection.html.0" class="toc_collapsed"><div class="node_element"><div class="wrapper img_wrapper"></div><div class="wrapper text_wrapper"><a href="device-connection.html">Device Connection</a></div></div><ul>
<li class="toc_collapsed"><div class="node_element"><div class="wrapper img_wrapper"></div><div class="wrapper text_wrapper">Functions</div></div><ul>
<li id="supportpkg.usbwebcams.ug.webcamlist.html"><div class="node_element"><div class="wrapper img_wrapper"></div><div class="wrapper text_wrapper"><a href="ug/webcamlist.html">webcamlist</a></div></div></li>
</ul>
</li>
<li class="toc_collapsed"><div class="node_element"><div class="wrapper img_wrapper"></div><div class="wrapper text_wrapper">Examples and How To</div></div><ul>
<li id="supportpkg.usbwebcams.ug.connect-to-webcams.html"><div class="node_element"><div class="wrapper img_wrapper"></div><div class="wrapper text_wrapper"><a href="ug/connect-to-webcams.html">Connect to Webcams</a></div></div></li>
<li id="supportpkg.usbwebcams.ug.installing-the-webcams-support-package.html"><div class="node_element"><div class="wrapper img_wrapper"></div><div class="wrapper text_wrapper"><a href="ug/installing-the-webcams-support-package.html">Install the Webcam Support Package</a></div></div></li>
</ul>
</li>
<li class="toc_collapsed"><div class="node_element"><div class="wrapper img_wrapper"></div><div class="wrapper text_wrapper">Concepts</div></div><ul>
<li id="supportpkg.usbwebcams.ug.webcam-acquisition-overview.html"><div class="node_element"><div class="wrapper img_wrapper"></div><div class="wrapper text_wrapper"><a href="ug/webcam-acquisition-overview.html">Webcam Acquisition Overview</a></div></div></li>
</ul>
</li>
</ul>
</li><li id="supportpkg.usbwebcams.webcam-image-acquisition.html.1" class="toc_collapsed"><div class="node_element"><div class="wrapper img_wrapper"></div><div class="wrapper text_wrapper"><a href="webcam-image-acquisition.html">Webcam Image Acquisition</a></div></div><ul>
<li class="toc_collapsed"><div class="node_element"><div class="wrapper img_wrapper"></div><div class="wrapper text_wrapper">Functions</div></div><ul>
<li id="supportpkg.usbwebcams.ug.webcamlist.html"><div class="node_element"><div class="wrapper img_wrapper"></div><div class="wrapper text_wrapper"><a href="ug/webcamlist.html">webcamlist</a></div></div></li>
<li id="supportpkg.usbwebcams.ug.webcam.html"><div class="node_element"><div class="wrapper img_wrapper"></div><div class="wrapper text_wrapper"><a href="ug/webcam.html">webcam</a></div></div></li>
<li id="supportpkg.usbwebcams.ug.preview.html"><div class="node_element"><div class="wrapper img_wrapper"></div><div class="wrapper text_wrapper"><a href="ug/preview.html">preview</a></div></div></li>
<li id="supportpkg.usbwebcams.ug.snapshot.html"><div class="node_element"><div class="wrapper img_wrapper"></div><div class="wrapper text_wrapper"><a href="ug/snapshot.html">snapshot</a></div></div></li>
<li id="supportpkg.usbwebcams.ug.closepreview.html"><div class="node_element"><div class="wrapper img_wrapper"></div><div class="wrapper text_wrapper"><a href="ug/closepreview.html">closepreview</a></div></div></li>
</ul>
</li>
<li class="toc_collapsed"><div class="node_element"><div class="wrapper img_wrapper"></div><div class="wrapper text_wrapper">Examples and How To</div></div><ul>
<li id="supportpkg.usbwebcams.ug.acquire-images-from-webcams.html"><div class="node_element"><div class="wrapper img_wrapper"></div><div class="wrapper text_wrapper"><a href="ug/acquire-images-from-webcams.html">Acquire Images from Webcams</a></div></div></li>
<li id="supportpkg.usbwebcams.ug.acquire-webcam-images-in-a-loop.html"><div class="node_element"><div class="wrapper img_wrapper"></div><div class="wrapper text_wrapper"><a href="ug/acquire-webcam-images-in-a-loop.html">Acquire Webcam Images in a Loop</a></div></div></li>
<li id="supportpkg.usbwebcams.ug.set-properties-for-webcam-acquisition.html"><div class="node_element"><div class="wrapper img_wrapper"></div><div class="wrapper text_wrapper"><a href="ug/set-properties-for-webcam-acquisition.html">Set Properties for Webcam Acquisition</a></div></div></li>
</ul>
</li>
<li class="toc_collapsed"><div class="node_element"><div class="wrapper img_wrapper"></div><div class="wrapper text_wrapper">Concepts</div></div><ul>
<li id="supportpkg.usbwebcams.ug.webcam-acquisition-overview.html"><div class="node_element"><div class="wrapper img_wrapper"></div><div class="wrapper text_wrapper"><a href="ug/webcam-acquisition-overview.html">Webcam Acquisition Overview</a></div></div></li>
</ul>
</li>
</ul>
</li></ul>
</li>
</ul>
