/* Overrides for Installed Doc Center in the Product */
/* Globals */
body { min-width:320px; }
#search_crumb_container { width:100%; padding-top:15px; background-color:#fff; float:left; position:fixed; top:0px; z-index:1001; } 

#doc_center_content img { width:auto; max-width:99%; height:auto; }

.footernav { width:auto; padding:0px; float:right; }
.footernav a { padding:0px 8px; border:none; }
.footernav li + li { border-right:1px solid #BFBFBF; }

/* Relese Mark */
h1.r2014b { background:none; }
h2.title.r2014b { background:none; }

/* Product and Web Specific Links */
.execmatlabproduct { display:inline; }
.execmatlabweb { display:none; }

.coming_from_product { display:inline; }
div.coming_from_product { display:block; }
.not_coming_from_product { display:none; }
div.not_coming_from_product { display:none; }

.execmatlabproduct.video { display:inline-block; }
.execmatlabweb.video { display:none; }

.support_package_list { display:none; }

/* TOC */
.site_container.site_toc_closed { margin-left:60px; }
.toc_pane { padding-top:0px; }

.toc_container_wrapper { position:fixed; top:15px; }

/* Fixed Search Box and Breadcrumbs */
#search_crumb_container { padding:15px 0px 10px; background:#fff; float:left; position:fixed; top:0px; z-index:1001; } 
.content_container { padding-top:103px; }
#search_crumb_container .docsearch_container + .breadcrumb_container { margin-bottom:0px; }

/* Search Refine */
.doc_template_frame_subnav { width:195px; min-width:195px; padding-top:15px; padding-right:15px; font-size:1.2em; }
.doc_template_frame_subnav .search_refine_scroll { max-height:200px; overflow-y:auto; overflow-x:hidden; border-top:1px solid #d6d4d4; }
.doc_template_frame_subnav .search_refine_scroll ul { border-top:0px; }
.doc_template_frame_subnav .search_refine h3 { border:1px solid #fff; }
.doc_template_frame_subnav .search_refine li.refined a { border-bottom:0px; }

#summary_area_top { width:100%; margin:0px 0px 15px; padding:0px 0px 2px; font-size:0.9em; line-height:130%; color:#6a6a6a; border-bottom:1px dotted #6a6a6a; overflow:hidden; }

#results_area { min-height:400px; }

/* For search nuggets in installed doc */
.tokenized { width:calc(100% - 12px); height:30px; padding:0px 10px 0px 0px; background:#fff url(../images/doc_center/bg_search_textbox.gif) repeat-x 0px 0px; border:1px solid #d3d3d3; float:left; }
.tokenized .textfield { width:100%; margin:6px 0px 0px 0px; padding:0px; border:none; outline:none; background:transparent none; display:block; float:left; }

.tokens { margin:3px 0px 0px 3px; float:left; }

.token { padding:2px 0px 2px 5px; margin:0px 6px 0px 0px; font-size:0.8em; background-color:#f8f8f8; white-space:nowrap; border:1px solid #d6d4d4; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; display:block; float:left; }
.token .label { padding:0px 5px 0px 0px; }

span.token.selected { background-color: #eaeaea; }
span.token.highlighted { background-color: #d9d9d9; }

.token .remove a { width:16px; height:auto; padding:0px; text-indent:-5000px; background:transparent url(../images/doc_center/bg_token_remove.png) no-repeat center center; display:inline-block; float:none; }

/* Responsive */
@media (max-width: 480px) {
.toc_pane { position:absolute; z-index:1100; }
.site_container.site_toc_opened { margin-left:60px !important; }
.site_container.site_toc_opened .toc_container_wrapper { width:270px !important; }
.site_container.site_toc_closed .toc_container_wrapper { width:30px !important; }
}

@media (max-width: 290px) {
.toc_pane { position:fixed; }	
.content_container { padding-top:15px; }
#search_crumb_container { width:100%; padding-top:0px; background-color:#fff; position:relative; } 
.site_container.site_toc_opened .toc_container_wrapper { width:200px !important; }
}

@media (max-height: 480px) {
.content_container { padding-top:15px; }
#search_crumb_container { width:100%; padding-top:0px; background-color:#fff; position:relative; }
}

/* Fixes for Search and Product Landing Pages */
.container_192 .content_container { padding-top:15px;  }